/* General */
* {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
}

/* Fondo general */
.root {
    -fx-background-color: #121212;
    -fx-text-fill: #ffffff;
}

/* Barra de menú */
MenuBar {
    -fx-background-color: #5f5f5f; /* Fondo oscuro */
    -fx-text-fill: #ffffff;
    -fx-padding: 5px;
    -fx-border-color: #333333;
    -fx-border-width: 0 0 2px 0;
    -fx-border-radius: 10px; /* Bordes redondeados */
}

MenuItem {
    -fx-text-fill: #ffffff;
}

MenuItem:hover {
    -fx-background-color: #333333;
    color: #00513c;;
}

/* Panel izquierdo */
#leftPanel {
    -fx-background-color: #1e1e1e; /* Fondo oscuro */
    -fx-border-color: #333333;
    -fx-border-width: 0 1px 0 0;
    -fx-border-radius: 15px; /* Bordes redondeados */
    -fx-padding: 10px;
}

#leftPanel Button {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-padding: 10px 15px;
}

#leftPanel Button:hover {
    -fx-background-color: #00513c;;
    -fx-cursor: hand;
}

/* Panel derecho */
#rightPanel {
    -fx-background-color: #1e1e1e; /* Fondo oscuro */
    -fx-border-color: #333333;
    -fx-border-width: 0 0 0 1px;
    -fx-border-radius: 15px; /* Bordes redondeados */
    -fx-padding: 10px;
}

ListView {
    -fx-background-color: #121212; /* Fondo oscuro */
    -fx-border-color: #333333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; /* Bordes redondeados */
    -fx-text-fill: #ffffff;
}

ListView .list-cell:filled:selected {
    -fx-background-color: #00513c;; /* Verde característico */
    -fx-text-fill: #ffffff;
}

/* Panel central */
#mediaContainer {
    -fx-background-color: #121212; /* Fondo oscuro */
}

#mediaView {
    -fx-background-color: #000000;
    -fx-border-color: #333333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px; /* Bordes redondeados */
}

/* Imagen de placeholder */
ImageView {
    -fx-border-color: #00513c;;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

/* Controles inferiores */
#container {
    -fx-background-color: #1e1e1e; /* Fondo oscuro */
    -fx-border-color: #333333;
    -fx-border-width: 2px 0 0 0;
    -fx-border-radius: 15px; /* Bordes redondeados */
    -fx-padding: 10px;
}

#contenedor {
    -fx-spacing: 10;
}

#currentPlayingLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

/* Botones */
Button {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-padding: 10px 15px;
}

Button:hover {
    -fx-background-color: #00513c;;
    -fx-cursor: hand;
}

/* Sliders */
Slider {
    -fx-padding: 0 10px;
}

Slider .thumb {
    -fx-background-color: #00513c;
    -fx-border-color: #121212;
    -fx-border-width: 2px;
}

Slider .track {
    -fx-background-color: #333333;
}

Slider .track:hover {
    -fx-background-color: #00513c;;
}
